* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: rgb(88, 91, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

#step {
    display: flex;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,.2);
    position: relative ;
    padding: 15px 25px;
}

#dp {
    position: absolute;
    top: 00px;
    left: .4px;
    width: 125px;
    height: 57px;
    background-color: rgb(255, 0, 0);
    transition: .5s
}
#dp::after {
    content: '';
    height: 0;
    width: 0px;
    position: absolute;
    top: 0;
    right: -25px;
    border-top: 28px  solid transparent;
    border-bottom: 29px solid transparent;
    border-left: 25px solid rgb(255, 0, 0);
}
.prog {
    width: 125px;
    font-size: 20px;
    z-index: 1;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
} 

main {
    margin: 120px auto;
    width: 375px;
    background-color: white;
    border-radius: 10px; 
    overflow: hidden;  
}   

#content {
    margin: 50px 35px 40px 45px;
}

p {
    font-size: 30px;
    padding-bottom: 50px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    font-size: 17px;
    width: 96%;
    padding: 10px 0 10px 0px;
    font-family: 'Montserrat', sans-serif;
}

#n1 {
    padding: 8px 30px;
    margin: 25px auto;
    border-radius: 7px;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 15px;
    background-color: rgb(255, 0, 0);
    display: block;
}

#n2, #b1, #b2, #s {
    padding: 8px 30px;
    margin: 25px 0 10px 27px;
    border-radius: 7px;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 15px;
    background-color: rgb(255, 0, 0);
} 

#content {
    position: relative;
    height: 283px;
}

#per, #acc, #soc {
    position: absolute;
    top: 0px;
    width: 100%; 
    transition: .5s;
}

#acc { 
    left: 0px;
}

#soc { 
    right: -375px; 
} 

#per { 
    right: -750px;  
} 
